<h1>Welcome to AngularJS!</h1>

<div ng-app="app">
  {{ 1 + 1 }}

  <div ng-controller="pageCtrl">
    {{ purpleHippo }}
    <div>{{ greenHippo }}</div>
    <div>
      <input ng-model="purpleHippo">
    </div>

    <div ng-repeat="review in reviews" >  <h4>{{ review.reviewer }}</h4>
      <h5>Stars: {{ review.stars }}</h5>
      <p>{{ review.text }}</p>
    </div>

    <div id="form">
      <h4>Leave your own review of AngularJS</h4>
      Your name:<input ng-model="newReviewName">
      Number of Stars:<input ng-model="newReviewStars">
      Review:<input ng-model="newReviewText">
      <button ng-click="addReview(newReviewName, newReviewStars, newReviewText)">Add Review</button>
    </div>


  </div>
</div>